<?xml version="1.0"?>
<launch>
  <arg name="use_primitive_visuals" default="false"/>
  <arg name="use_collision_mesh_visuals" default="true"/>
  <arg name="use_rviz" default="true"/>
  <arg name="payload_mass_kg" default="4.0"/>
  <arg name="payload_com_sensor_m" default="0.10 -0.04 0.20"/>
  <arg name="tool0_to_sri_xyz" default="0 0 0"/>
  <arg name="tool0_to_sri_yaw_pitch_roll" default="0 0 0"/>
  <arg name="noise_force" default="0.0"/>
  <arg name="noise_torque" default="0.0"/>

  <include file="$(find kr340_moveit)/launch/demo.launch">
    <arg name="use_rviz" value="$(arg use_rviz)"/>
    <arg name="use_primitive_visuals" value="$(arg use_primitive_visuals)"/>
    <arg name="use_collision_mesh_visuals" value="$(arg use_collision_mesh_visuals)"/>
    <arg name="moveit_controller_manager" value="fake"/>
  </include>

  <node name="offline_wrench_simulator" pkg="tool_gravity_compensation"
        type="offline_wrench_simulator.py" output="screen">
    <param name="mass_kg" value="$(arg payload_mass_kg)"/>
    <param name="com_sensor_m" value="$(arg payload_com_sensor_m)"/>
    <param name="noise_force" value="$(arg noise_force)"/>
    <param name="noise_torque" value="$(arg noise_torque)"/>
  </node>

  <include file="$(find tool_gravity_compensation)/launch/kr240_payload_identification.launch">
    <arg name="tool0_to_sri_xyz" value="$(arg tool0_to_sri_xyz)"/>
    <arg name="tool0_to_sri_yaw_pitch_roll" value="$(arg tool0_to_sri_yaw_pitch_roll)"/>
    <arg name="min_stable_samples" value="10"/>
    <arg name="max_stddev_force" value="0.05"/>
    <arg name="max_stddev_torque" value="0.005"/>
  </include>
</launch>
