#!/usr/bin/env python
PACKAGE = "netft_utils"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("tool_mass",double_t,1,"double type",0,0,100) 
gen.add("tool_mass_center_x",double_t,1,"double type",0,-5,5)  
gen.add("tool_mass_center_y",double_t,1,"double type",0,-5,5) 
gen.add("tool_mass_center_z",double_t,1,"double type",0,-5,5) 
gen.add("sensor_zero_point_1",double_t,1,"double type",0,-5,5) 
gen.add("sensor_zero_point_2",double_t,1,"double type",0,-5,5) 
gen.add("sensor_zero_point_3",double_t,1,"double type",0,-5,5) 
gen.add("sensor_zero_point_4",double_t,1,"double type",0,-5,5) 
gen.add("sensor_zero_point_5",double_t,1,"double type",0,-5,5) 
gen.add("sensor_zero_point_6",double_t,1,"double type",0,-5,5) 
gen.add("base_angle_1",double_t,1,"double type",0,0,100) 
gen.add("base_angle_2",double_t,1,"double type",0,0,100) 

exit(gen.generate(PACKAGE, "netft_utils", "netft"))
